 @import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
 * {
     padding: 0;
     margin: 0;
     /* box-sizing: border-box; */
 }

 html {
     font-size: 10px;
     font-family: 'Montserrat', sans-serif;
     scroll-behavior: smooth;
     overflow: hidden;
 }

 .theme-light {
     --color-primary: #0060df;
     --color-secondary: #fbfbfe;
     --color-accent: #fd6f53;
     --font-color: #000000;
 }

 .theme-dark {
     --color-primary: #17ed90;
     --color-secondary: #000;
     --color-accent: #12cdea;
     --font-color: #ffffff;
 }

 a {
     text-decoration: none;
 }

 .container {
     min-height: 100vh;
     width: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 #header {
     position: fixed;
     z-index: 1000;
     left: 0;
     top: 0;
     width: 100vw;
     height: auto;
     background-color: var(--color-secondary);
 }

 #header .theme-div {
     margin-top: 30px;
     position: absolute;
     right: 50px;
     background-color: var(--color-secondary);
 }

 /* intro Section */

 #intro {
     /* background-image: url(./img/intro-bg.png); */
     background-size: cover;
     background-position: top center;
     position: relative;
     background-color: var(--color-secondary);
     z-index: 1;
 }

 #intro::after {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     height: 100%;
     width: 100%;
     background-color: var(--color-secondary);
     ;
     /* opacity: .7; */
     z-index: -1;
     animation: fadeInBottom 0.25s linear forwards;
     /* animation: fadeIn 0.25s linear forwards; */
 }

 #intro .intro {
     max-width: 1200px;
     margin: 0 auto;
     padding: 0 50px;
     justify-content: flex-start;
     background-color: var(--color-secondary);
     ;
 }

 #intro h1 {
     display: block;
     width: fit-content;
     font-size: 7rem;
     position: relative;
     color: transparent;
     animation: text_reveal .5s ease forwards;
     animation-delay: 1s;
 }

 #intro h1:nth-child(1) {
     animation-delay: 1s;
 }

 #intro h1:nth-child(2) {
     animation-delay: 2s;
 }

 #intro h1:nth-child(3) {
     animation: text_reveal_name .5s ease forwards;
     animation-delay: 3s;
 }

 #intro h1 span {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     width: 0;
     background-color: #00abe9;
     animation: text_reveal_box 1s ease;
     animation-delay: .5s;
 }

 #intro h1:nth-child(1) span {
     animation-delay: .5s;
 }

 #intro h1:nth-child(2) span {
     animation-delay: 1.5s;
 }

 #intro h1:nth-child(3) span {
     animation-delay: 2.5s;
 }

 /* Keyframes */

 @keyframes hamburger_puls {
     0% {
         opacity: 1;
         transform: scale(1);
     }
     100% {
         opacity: 0;
         transform: scale(1.4);
     }
 }

 @keyframes text_reveal_box {
     50% {
         width: 100%;
         left: 0;
     }
     100% {
         width: 0;
         left: 100%;
     }
 }

 @keyframes text_reveal {
     100% {
         color: var(--font-color);
     }
 }

 @keyframes text_reveal_name {
     100% {
         color: #00abe9;
         font-weight: 500;
     }
 }

 /* End Keyframes */

 /* Media Query For Tablet */

 @media only screen and (max-width: 992px) {
     h1.section-title {
         font-size: 6rem;
     }
     /* intro */
     #intro h1 {
         font-size: 7rem;
     }
     /* End intro */
 }

 /* End Media Query For Tablet */

 /*Start of Media Query for phone */

 @media only screen and (max-width: 600px) {
     html {
         font-family: 'Montserrat', sans-serif;
         overflow: auto;
     }
     h1.section-title {
         font-size: 6rem;
     }
     /* intro */
     #intro h1 {
         font-size: 4rem;
     }
     #intro {
         padding-top: 100px;
         padding-bottom: 100px;
     }
     .container {
         width: 100%;
         display: block;
     }
     .slidingVertical {
         display: block;
     }
     .slidingVertical span {
         font-size: 4rem;
     }
     .intro {
         width: 100%;
         display: block;
     }
     .intro_info {
         padding-top: 30px;
         width: 100%;
         display: block;
         padding-left: 0;
     }
     /* .socials {
         margin-top: 30px;
         width: 100%;
         display: inline-block;
     } */
     .socials {
         width: 100%;
     }
     .sci {
         display: block;
         flex-direction: row;
     }
     /* .sci {
        display: block;
        width: 100%;
        /* position: absolute; */
     /* bottom: 30px; */
     /* right: 50px; */
     /* display: flex; */
     /*  flex-direction: row;
    }
     .sci li {
       
        list-style: none;
        padding: 10px 0;
        text-align: center;
       
        /* animation: buzz 0.5s linear forwards; */
     /*  } */
     /* End intro */
 }

 /* End of Media Query for phone */

 /* Media Query For Desktop */

 /* @media only screen and (max-width: 1200px) {
     
 } */

 /* End  Media Query For Desktop */

 .sci {
     position: absolute;
     bottom: 30px;
     right: 50px;
     display: block;
     flex-direction: column;
 }

 .sci li {
     opacity: 0;
     list-style: none;
     padding: 10px 0;
     text-align: center;
     animation: fadeInBottom 0.5s linear forwards;
     /* animation: buzz 0.5s linear forwards; */
 }

 .sci li:nth-child(1) {
     animation-delay: 3s;
 }

 .sci li:nth-child(2) {
     animation-delay: 3.25s;
 }

 .sci li:nth-child(3) {
     animation-delay: 3.5s;
 }

 .sci li:nth-child(4) {
     animation-delay: 3.75s;
 }

 .sci li:nth-child(5) {
     animation-delay: 4s;
 }

 .sci li:nth-child(6) {
     animation-delay: 4.25s;
 }

 .sci li a {
     font-size: 1.2em;
     color: var(--font-color);
 }

 .sci li a:hover {
     font-size: 1.5em;
 }

 @keyframes fadeInBottom {
     0% {
         transform: translateY(50px);
         opacity: 0;
     }
     100% {
         transform: translateY(0);
         opacity: 1;
     }
 }

 .intro_info {
     opacity: 0;
     display: flex;
     width: 50%;
     padding: 10%;
     flex-direction: column;
     animation: fadeIn 2s linear forwards;
     animation-delay: 3s;
 }

 .intro_info p {
     font-family: 'Montserrat', sans-serif;
     font-size: 20px;
     color: #524d4d;
 }

 @keyframes fadeIn {
     0% {
         opacity: 0;
     }
     100% {
         opacity: 1;
     }
 }

 /* The switch - the box around the slider */

 .switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
 }

 /* Hide default HTML checkbox */

 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
 }

 /* The slider */

 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: 0.4s;
     transition: 0.4s;
 }

 .slider:before {
     position: absolute;
     content: "";
     height: 40px;
     width: 40px;
     left: 0px;
     bottom: 4px;
     top: 0;
     bottom: 0;
     margin: auto 0;
     -webkit-transition: 0.4s;
     transition: 0.4s;
     box-shadow: 0 0px 15px #2020203d;
     /* background: white url('https://i.ibb.co/FxzBYR9/night.png'); */
     background-color: #fff;
     background-repeat: no-repeat;
     background-position: center;
 }

 input:checked+.slider {
     background-color: #2196f3;
 }

 input:focus+.slider {
     box-shadow: 0 0 1px #2196f3;
 }

 input:checked+.slider:before {
     -webkit-transform: translateX(24px);
     -ms-transform: translateX(24px);
     transform: translateX(24px);
     /* background: white url('https://i.ibb.co/7JfqXxB/sunny.png'); */
     background-color: #73716b;
     background-repeat: no-repeat;
     background-position: center;
 }

 /* Rounded sliders */

 .slider.round {
     border-radius: 34px;
 }

 .slider.round:before {
     border-radius: 50%;
 }

 /*Vertical Sliding*/

 .slidingVertical {
     display: block;
     ;
     /* text-indent: 8px; */
     /* animation-delay: 1.5s; */
 }

 .slidingVertical span {
     animation: topToBottom 5s linear 1 forwards;
     -ms-animation: topToBottom 5s linear 1 forwards;
     -webkit-animation: topToBottom 5s linear 1 forwards;
     color: #00abe9;
     display: block;
     width: fit-content;
     font-size: 7rem;
     opacity: 0;
     overflow: hidden;
     position: absolute;
     /* animation-delay: 1s; */
 }

 .slidingVertical span:nth-child(1) {
     animation-delay: 2.5s;
     -ms-animation-delay: 2.5s;
     -webkit-animation-delay: 2.5s;
 }

 .slidingVertical span:nth-child(2) {
     animation-delay: 3.5s;
     -ms-animation-delay: 3.5s;
     -webkit-animation-delay: 3.5s;
 }

 .slidingVertical span:nth-child(3) {
     animation-delay: 4.5s;
     -ms-animation-delay: 4.5s;
     -webkit-animation-delay: 4.5s;
 }

 .slidingVertical span:nth-child(4) {
     animation-delay: 5.5s;
     -ms-animation-delay: 5.5s;
     -webkit-animation-delay: 5.5s;
 }

 .slidingVertical span:nth-child(5) {
     animation: topToBottomLast 5s linear 1 forwards;
     animation-delay: 6.5s;
     -ms-animation-delay: 6.5s;
     -webkit-animation-delay: 6.5s;
 }

 /*topToBottom Animation*/

 @-moz-keyframes topToBottom {
     0% {
         opacity: 0;
     }
     5% {
         opacity: 0;
         -moz-transform: translateY(-50px);
     }
     10% {
         opacity: 1;
         -moz-transform: translateY(0px);
     }
     25% {
         opacity: 1;
         -moz-transform: translateY(0px);
     }
     30% {
         opacity: 0;
         -moz-transform: translateY(50px);
     }
     80% {
         opacity: 0;
     }
     100% {
         opacity: 0;
     }
 }

 @-webkit-keyframes topToBottom {
     0% {
         opacity: 0;
     }
     5% {
         opacity: 0;
         -webkit-transform: translateY(-50px);
     }
     10% {
         opacity: 1;
         -webkit-transform: translateY(0px);
     }
     25% {
         opacity: 1;
         -webkit-transform: translateY(0px);
     }
     30% {
         opacity: 0;
         -webkit-transform: translateY(50px);
     }
     80% {
         opacity: 0;
     }
     100% {
         opacity: 0;
     }
 }

 @-ms-keyframes topToBottom {
     0% {
         opacity: 0;
     }
     5% {
         opacity: 0;
         -ms-transform: translateY(-50px);
     }
     10% {
         opacity: 1;
         -ms-transform: translateY(0px);
     }
     25% {
         opacity: 1;
         -ms-transform: translateY(0px);
     }
     30% {
         opacity: 0;
         -ms-transform: translateY(50px);
     }
     80% {
         opacity: 0;
     }
     100% {
         opacity: 0;
     }
 }

 @-moz-keyframes topToBottomLast {
     0% {
         opacity: 0;
     }
     5% {
         opacity: 0;
         -moz-transform: translateY(-50px);
     }
     10% {
         opacity: 1;
         -moz-transform: translateY(0px);
     }
     25% {
         opacity: 1;
         -moz-transform: translateY(0px);
     }
     30% {
         opacity: 1;
     }
     80% {
         opacity: 1;
     }
     100% {
         opacity: 1;
     }
 }

 @-webkit-keyframes topToBottomLast {
     0% {
         opacity: 0;
     }
     5% {
         opacity: 0;
         -webkit-transform: translateY(-50px);
     }
     10% {
         opacity: 1;
         -webkit-transform: translateY(0px);
     }
     25% {
         opacity: 1;
         -webkit-transform: translateY(0px);
     }
     30% {
         opacity: 1;
     }
     80% {
         opacity: 1;
     }
     100% {
         opacity: 1;
     }
 }

 @-ms-keyframes topToBottomLast {
     0% {
         opacity: 0;
     }
     5% {
         opacity: 0;
         -ms-transform: translateY(-50px);
     }
     10% {
         opacity: 1;
         -ms-transform: translateY(0px);
     }
     25% {
         opacity: 1;
         -ms-transform: translateY(0px);
     }
     30% {
         opacity: 1;
     }
     80% {
         opacity: 1;
     }
     100% {
         opacity: 1;
     }
 }